* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header footer container */
.containe {
    max-width: 1000px;
    margin: auto;
}

/* Global */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* NavBar */
nav {
    background-color: #202020;
    width: 100%;
}

.navMenu {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.5vh;
    position: relative;
}

.navMenu .hemburger {
    display: none;
}

.navMenu .menu ul {
    display: flex;
    gap: 30px;
}

.navMenu .menu ul li {
    list-style: none;
}

.navMenu .menu ul .cut {
    display: none;
}

.navMenu a {
    text-decoration: none;
    color: white;
}

/* Footer */
footer {
    background-color: #202020;
}

.touch-info {
    display: flex;
    /* height: 8.5vh; */
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.touch-info .icon {
    display: flex;
    height: 8.5vh;
    align-items: center;
    gap: 10px;
}

.touch-info .icon .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.touch-info .icon .touch-info {
    display: flex;
    flex-direction: column;
}

.touch-info .icon .title {
    color: white;
}

.touch-info .icon .detail {
    color: rgb(115, 110, 110)
}

svg {
    font-size: 24px;
    color: rgb(65, 65, 236);
}

/* footer-bottom */
.footer-II {
    background-color: rgb(54, 52, 52);
    width: 100%;
}

.footer-II .footer-II-1 {
    width: 100%;
}

.footer-II .footer-II-1 .footer-II-2 {
    /* height: 8.5vh; */
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: rgb(165, 159, 148);
    align-items: center;
}

.footer-II .footer-II-1 .footer-II-2 .footer-II-4 ul {
    display: flex;
    gap: 30px;
}

.footer-II .footer-II-1 .footer-II-2 .footer-II-3 p a {
    text-decoration: none;
    color: rgb(65, 65, 236);
    font-weight: 600;
    font-size: 1.1rem;
}

.footer-II .footer-II-1 .footer-II-2 .footer-II-4 ul li {
    list-style: none;
}

.footer-II .footer-II-1 .footer-II-2 .footer-II-4 ul a {
    text-decoration: none;
    color: rgb(165, 159, 148);
}

/* hero */
header {
    background-color: black;
    color: white;
}

.home-1 .home-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 10vh 0px;
}

.home-1 .home-flex .home-flex-1 {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-1 .home-flex .home-flex-1 p:nth-child(1) {
    font-size: 3rem;
}

.home-1 .home-flex .home-flex-1 a {
    border: 1px solid rgb(54, 46, 46);
    outline: none;
    padding: 4px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    color: white;
    border-radius: 10px;
}

.home-1 .home-flex .home-flex-1 a {
    text-decoration: none;
    color: white;
}

.home-1 .home-flex .home-flex-1 a svg {
    color: white;
}

.home-1 .home-flex .home-flex-2 .home-flex-2-img img {
    width: 100%;
}

/* About */
main {
    background-color: black;
    color: white;
}

main ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 2rem;
}

main ul li {
    list-style: none;
    max-width: 293px;
    display: flex;
    padding: 10px;
    gap: 5px;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main ul li h2 {
    padding-bottom: 10px;
}

main ul li p span {
    color: rgb(165, 159, 148);
}

main .country-fact {
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding: 2rem 0rem;
}

/* contact */
section {
    background-color: black;
    color: #202020;
}

section .contact-1 {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74.4vh;
}

section .contact-1 form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

section .contact-1 form input,
textarea,
.formbtn {
    width: 100%;
    padding: 10px 10px;
    outline: none;
    border: none;
    background-color: #202020;
    border-radius: 10px;
    color: rgb(165, 159, 148);
}

section .contact-1 form button {
    display: flex;
    align-items: center;
    color: #656363;
}

section .contact-1 form button svg {
    color: #656363;
}


/* card */
.card-container {
    background-color: black;
    color: white;
}

.country-card li {
    list-style-type: none;
    box-shadow: rgba(234, 234, 234, 0.16) 0px 3px 6px, rgba(203, 203, 203, 0.23) 0px 3px 6px;
    max-width: 270px;
    padding: 20px;
}

.flag img {
    max-width: 300px;
}

img {
    width: 100%;
}

.country-card {
    display: flex;
    /* padding: 5rem 0px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.country-card li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.country-card li .dynamic-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-card li a {
    text-decoration: none;
}

.country-card li .dynamic-btn .formbtn {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.50s ease-in-out;
}

.country-card li .dynamic-btn .formbtn:hover {
    background-color: black;
    transition: all 0.50s ease-in-out;
}

.country-card li .dynamic-btn .formbtn svg {
    color: white;
    font-weight: 400;
}

/* Dynamic Card  */
.dynamicCard {
    background-color: black;
    color: white;
    position: relative;
}

.dynamicCard .indflag {
    max-width: 300px;
}

.dynamicCard .indflag img {
    width: 100%;
}

.dynamicCard .indData {
    display: flex;
    flex-direction: column;
    /* height: 74.5vh; */
    padding: 5vh 0px;
}

.dynamicCard .indData .indInfo {
    justify-content: space-around;
    display: flex;

    align-items: center;
}

.dynamicCard .indData {
    display: flex;
    flex-direction: column;
    gap: 18.4px;
}

.dynamicCard .indData .Backbtn a {
    text-decoration: none;
    color: rgb(165, 159, 148);
}

.dynamicCard .indData .Backbtn {
    background-color: #202020;
    display: flex;
    padding: 0.4rem 3rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 10px;
    width: 0px;
    align-items: center;
    justify-content: center;
    transition: all 0.50s ease-in-out;
    border: 1px solid;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

.dynamicCard .indData .Backbtn a:hover {
    color: rgb(79, 76, 70);
    transition: all 0.50s ease-in-out;
}

.dynamicCard .indData .Backbtn:hover {
    background-color: black;
    transition: all 0.50s ease-in-out;
}

/* loader */
.loader-container {
    background-color: black;
    height: 74.5vh;
    display: flex;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* Serach */
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0px;
}

form .search {
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    background-color: #202020;
    border-radius: 10px;
}

form .search svg {
    color: #a2a1a1;
}

form .search input {
    padding: 8px 5px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    background-color: #202020;
    color: #a2a1a1;
    width: 70%;
}

/* filter */
form .filter {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    background-color: #202020;
    border-radius: 10px;
}

form .countrySort {
    border-radius: 10px;
    background-color: #202020;
    color: #a2a1a1;
    padding: 7px 10px;
    cursor: pointer;
}

form .filter svg {
    color: #a2a1a1;
}

form .filter .options {
    width: 80%;
    background-color: #202020;
    padding: 8px 5px;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    border: none;
    color: #a2a1a1;
}

@media(max-width:768px) {

    .home-1 .home-flex {
        flex-direction: column;
    }

    .home-flex-2 .home-flex-2-img {
        display: flex;
        justify-content: center;
    }

    .container {
        padding: 0px 8px;
    }

    main ul li {
        max-width: 250px;
    }

    .home-flex-2 {
        display: flex;
        justify-content: center;
    }

    .home-1 .home-flex .home-flex-2 .home-flex-2-img img {
        width: 75%;
    }

    .home-1 .home-flex .home-flex-1 p:nth-child(1) {
        font-size: 2.5rem;
    }

    .home-1 .home-flex .home-flex-1 a {
        font-size: 14px;
        padding: 6px 8px;
    }

    svg {
        font-size: 17px;
    }

    .footer-II .footer-II-1 .footer-II-2 {
        flex-direction: column;
        padding: 13px 3px;
        gap: 12px;
    }

    form {
        flex-wrap: wrap;
        gap: 10px;
    }

    .dynamicCard .indData .indInfo {
        flex-direction: column;
    }
}

@media(max-width:614px) {
    main ul {
        justify-content: center;
    }

    main ul li {
        max-width: 365px;
    }
}

@media(max-width:568px) {

    form .search,
    form .filter,
    form .countrySort {
        width: 100%;
    }

    .touch-info {
        padding: 13px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-II .footer-II-1 .footer-II-2 .footer-II-4 ul {
        gap: 21px;
    }

    .home-1 .home-flex .home-flex-1 p:nth-child(1) {
        font-size: 2rem;
    }

    .navMenu .menu ul {
        display: none;
    }

    .navMenu .menu {
        transform: translateX(0);
        transition: transform 0.55s ease-in-out;
    }

    .navMenu .menu.menu-open {
        transform: translateX(-229px);
    }


    .hamburger {
        display: block;
    }

     .hamburger svg {
        font-size: 32px;
        color: white;
    }

    .navMenu .menu-open ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 20px;
        width: 320px;
        height: 100vh;
        top: 0px;
        right: 0px;
        list-style: none;
    }

    .navMenu .menu-open ul {
        padding: 20px;
    }



    .navMenu .menu-open ul li {
        transition: all 0.35s ease-in-out;
    }

    .navMenu .menu-open ul li:hover {
        background-color: #545454;
        padding: 5px;
        transition: all 0.35s ease-in-out;
    }

    .navMenu .menu-open ul a li {
        color: #202020;
    }

    @media(max-width:590px) {
        .country-card li {
            max-width: 100%;
        }

        .country-card {
            justify-content: center;
        }
    }
}